{% extends 'base.html' %}

{% block title %}
Панель администратора
{% endblock title %}

{% block content %}

<p>Добро пожаловать в панель администратора!</p>
<a href="{% url 'city_list' %}">Посмотреть или изменить список городов</a>
<p></p>
<a href="{% url 'shop_list' %}">Посмотреть или изменить список магазинов</a>
<p></p>
<a href="{% url 'cakes' %}">Посмотреть список заказов</a>
<br>
<p></p>
{% if user.is_authenticated %}
<p><a href="{% url 'sign_out' %}">Выйти из учетной записи</a>
{% endif %}</p>
{% endblock %}